@page "/"

    <AuthorizeView>
        <Authorized>
            <h1>Bem-Vindo ao Maratonando!</h1>

            <p>Comece sua expereincia entrando no catalogo de filmes ou series e vendo o que já assistiu.</p>
        </Authorized>
        <NotAuthorized>
            <h1>Bem-Vindo ao Maratonando!</h1>

            <h4>Para uma melhor experiencia, por favor realize seu registro em nosso site.</h4>
        </NotAuthorized>
    </AuthorizeView>